/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 52em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navimg{
    width: 350px;
    padding-bottom: 50px;
}

.imgbody{
    height: 500px;
    z-index: 1;
}

.imgbutton{
    width: 300px;
    padding-bottom: 50px;
}

.imginvleft {
    margin-top: 50px;
    width: 150px;
    float: left;
}

.imginvmid {
    width: 250px;
}

.imginvright {
    margin-top: 50px;
    width: 150px;
    float: right;
}

.form{
    font-family: sans-serif;
    font-size: large;
    margin-left: 500px;
    text-align: center;
    width: 500px;
    height: 500px;
}

.icontext{
    display: inline-block;
}

.imgicon {
    width: 50px;
    float: left;
}

.iconinvite{
    display: inline-block;;
}

.imgwid{
    width: 120px;
    margin-right: 10px;
}

.imgwid2{
    width: 290px;
}

.imgwid3 {
    width: 65px;
}

.imgcal {
    width: 80px;
    float: left;
}

.imgloc {
    width: 80px;
    float: left;
}

.invbtn{
    display: inline-block;
}

.imgbtn {
    width: 180px;
}

.imgbtn2 {
    width: 180px;
}